.booking-page {
  .btn-link-ft {
    display: none;
  }

  .title-footer {
    padding-bottom: 150px;
  }

  .contact-main {
    .header-line {
      display: flex;
      h1 {
        margin: 0;
        padding: 60px 0 0;
        text-align: left;
        margin-bottom: 30px;

        a {
          display: inline-block;
          max-width: 300px;
        }
      }
      .title {
        color: #080808;
        font-family: Prata, serif;
        font-weight: 700;
        font-size: 34px;
        position: relative;
        padding: 77px 0 30px 36px;
      }
    }

    form {
      width: 69.75%;
      max-width: 837px;
      margin: auto;
    }

    .contact-us-form {
      input {
        height: 45px;
        line-height: 45px;
        margin-bottom: 25px;
        width: 100%;
        padding: 10px 20px;
        font-weight: 400;
        color: #666;
        background: #f5f5f5;
        border: none;
        outline: none;

        &.is-invalid {
          border-color: #dc3545;
          padding-right: calc(1.5em + 0.75rem);
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
          background-repeat: no-repeat;
          background-position: center right calc(0.375em + 0.1875rem);
          background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }
        &::selection {
          color: #fff;
          background: #e7b053;
        }
      }
      input[type='submit'] {
        font-family: 'Muli', Sans-serif;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        height: 45px;
        line-height: 45px !important;
        letter-spacing: 1.6px;
        color: #fff;
        background-color: #e7b053;
        border: none;
        padding: 0 55px !important;
        transition: all 0.3s ease;
        cursor: pointer;
        width: 100%;
        border-radius: 0;
        &:hover {
          background-color: #e19b26;
        }
      }
      textarea {
        width: 100%;
        max-height: 210px;
        padding: 10px 20px;
        font-weight: 400;
        margin-bottom: 35px;
        color: #909090;
        background: #f5f5f5;
        border: none;
        outline: none;
        &::selection {
          color: #fff;
          background: #e7b053;
        }
      }

      .form-control-wrap {
        position: relative;
      }
      .wpcf7-text {
        &::placeholder {
          font-size: 14px;
          font-weight: 300;
        }
      }
      .wpcf7-textarea {
        &::placeholder {
          font-size: 14px;
          font-weight: 300;
        }
      }

      .wpcf7-submit {
        &:disabled {
          cursor: not-allowed;
        }
      }
      .inline-errormsg {
        color: red;
        font-size: 12px;
      }
      .wpcf7-response-output {
        border-color: #ffb900;
        margin: 2em 0.5em 1em;
        padding: 0.2em 1em;
        border: 2px solid #ffb900;
        display: block;
        &::selection {
          color: #fff;
          background: #e7b053;
        }
      }
      .button {
        display: inline-block;
      }
    }
  }
}
@media (max-width: 1400px) {
  .booking-page {
    .title-footer {
      padding-bottom: 0;
    }

    .mobile-footer-cosmetic {
      padding-bottom: 40px;
    }
  }
}
@media (max-width: 767px) {
  .booking-page {
    .contact-main {
      padding-bottom: 0px;
      .header-line {
        display: block;
        h1 {
          text-align: center;

          a {
            margin-top: 0;
            float: unset !important;
          }
        }
        .title {
          padding-top: 0px;
          padding-bottom: 30px;
          text-align: center;
        }
      }

      .contact-us-form {
        .button {
          display: flex;
        }
      }

      form {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
}

.notification {
    span {
        display: block;
    }
    .wpcf7-submit-notification {
        background: #e7b053;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        border: none;
        line-height: 40px;
        letter-spacing: 2px;
        font-weight: 700;
        font-family: Prata,serif;
        padding: 0 30px;
        cursor: pointer;
        display: block;
        margin-top: 30px;
        width: 100%;
        &:hover {
            background: #e4a63d;
        }
    }
}
