#footer-page {
	
	padding-top: 520px;
	padding-bottom: 27px;	
	background: url(../images/bg.png) no-repeat;
	background-position: top center;
	
	@media ( max-width: 768px) {
		padding-top: 200px;		
	}

	@media (max-width: 1024px) and (min-width: 769px) {
		padding-top: 300px;
	}

	@media (max-width: 1200px) and (min-width: 1025px) {
		padding-top: 400px;
	}
}
.footer-page {

	.title-footer {
		font-weight: 700;
	}
	.btn-link-ft {
		a {
			display: inline-block;
			height: 50px;
			line-height: 50px;
			padding: 0 25px;
			background: #e7b053;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 15px;
			margin-bottom: 60px;
			margin-top: 30px;
			letter-spacing: 2px;
			color: #fff;
			font-family: Muli, sans-serif;
			&:hover {
				background: #e19b26;
				color: #fff;
			}
		}
	}
}

.title-footer {
	font-size: 32px;
	color: #333456;
	margin-bottom: 20px;
}

.copyright {
	color: #333456;
	font-family: Muli, sans-serif;
	a {
		color: #333456;
		&:hover {
			color: #e7b053;
		}
	}
}