#footer-page {
	
	padding-top: 520px;
	padding-bottom: 27px;	
	background: url(../images/bg-footer.png) no-repeat top center;

	.mobile-footer-gh {
		display: none;
	}
}
.footer-page {

	.title-footer {
		font-weight: 500;
	}
	.btn-link-ft {
		a {
			display: inline-block;
			height: 50px;
			line-height: 50px;
			padding: 0 25px;
			background: #e7b053;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 15px;
			margin-bottom: 60px;
			margin-top: 30px;
			color: #fff;
			font-family: Muli, sans-serif;
			&:hover {
				background: #e19b26;
				color: #fff;
			}
		}
	}
}

.title-footer {
	font-size: 32px;
	color: #0a0a0a;
	margin-bottom: 20px;
}

.copyright {
	color: #0a0a0a;
	font-family: Muli, sans-serif;
	a {
		color: #0a0a0a;
		&:hover {
			color: #e7b053;
		}
	}
}

@media ( max-width: 767px) {	
	#footer-page {		
		padding-top: 58px;		
		background: url(../images/bg-footer-mobile.png) no-repeat top center;

		.mobile-footer-gh {
			display: block;
			padding-bottom: 50px;

			img {
				width: 90%;
			}
		}
		.copyright {
			font-size: 12px;
		}
	}	
}
